@import 'variables.scss';
@import 'header.scss';
@import 'middle.scss';
@import 'footer.scss';
@import 'productpage.scss';
@font-face {
    font-family: 'Good Times';
    src: url("../resources/font/goodtimes.ttf");
}

html {
    scroll-behavior: smooth;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
    user-select: none;
}

body {
    background-color: $background-color;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

a {
    margin: 0;
    text-decoration: none;
}

p {
    margin: 0;
}

img {
    -webkit-user-drag: none;
}

.product-box {
    margin-top: 3vh;
    display: flex;
    width: 62%;
    flex-direction: row;
}

.product-photo {
    border-radius: 0.4vh;
    width: 36vh;
    height: 50vh;
}

.product-title {
    font-size: 3.5vh;
    font-weight: bolder;
    margin-left: 3vh;
    width: 50vh;
}

.product-description {
    font-size: 1.5vh;
    color: $text-color1;
    margin-top: 3vh;
    margin-left: 3vh;
    width: 50vh;
}

.product-pricebox {
    border-radius: 0.4vh;
    border: solid 0.1vh $border-color;
    width: 32vh;
    height: 40vh;
    margin-left: auto;
    margin-right: 1vh;
}

.product-pricetext {
    font-size: 1.4vh;
    font-weight: bold;
    color: $text-color2;
    margin-top: 1vh;
    margin-left: 1vh;
    margin-bottom: -0.5vh;
}

.product-price {
    font-weight: bolder;
    font-size: 4vh;
    font-weight: bold;
    margin-left: 1vh;
}

.product-btn1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2f82fb;
    border-radius: 0.4vh;
    width: 27vh;
    height: 4.4vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    cursor: pointer;
}

.product-btn1:hover {
    background-color: #145bc5;
}

.product-btn2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(98, 2, 234);
    border-radius: 0.4vh;
    width: 27vh;
    height: 4.4vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    cursor: pointer;
}

.product-btn2:hover {
    background-color: rgb(81, 13, 177);
}

.product-btntext {
    color: white;
    font-size: 1.4vh;
    font-weight: bolder;
}