header {
  display: flex;
  background-color: black;
  width: 100%;
  height: 13vh;
  justify-content: center;
}

.main-header {
  display: flex;
  background-color: black;
  width: 62%;
  height: 13vh;
  flex-direction: column;
}

.site-name {
  align-self: flex-start;
  margin-top: 2vh;
  margin-right: 5vh;
  margin-left: 0;
  font-size: 4vh;
  font-weight: bolder;
  font-family: "Good Times", sans-serif;
}

.logo-first {
  color: #f05f00;
}

.logo-middle {
  color: #F9F9F9;
}

.logo-last {
  color: #0084c1;
}

.site-nav {
  display: flex;
  align-self: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 100%;
}

.site-nav-element {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18vh;
  height: 4.5vh;
  background-color: #212121;
  border-radius: 0.4vh 0.4vh 0 0;
  margin-right: 0.5vh;
}

.site-nav-element:hover {
  background-color: #292929;
}

.site-nav-category {
  width: 29vh;
}

.site-nav-category:hover {
  background-color: #212121;
}

.site-nav-text {
  font-size: 1.3vh;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.9);
}

.site-nav-category-text {
  margin-right: auto;
  margin-left: 3vh;
  font-size: 1.5vh;
}

.fa-bars {
  color: darkgray;
  font-size: 1.7vh;
  margin-right: 1vh;
}

.special {
  background-color: #6202ea;
  width: 22vh;
}

.special:hover {
  background-color: #6e0cf7;
}

.top-header {
  display: flex;
  flex-direction: row;
}

.cart-btn {
  align-self: flex-end;
  margin-left: auto;
  margin-right: 0;
  font-size: 2.5vh;
}

.fa-shopping-cart {
  color: white;
  font-size: 2vh;
}

.cart-bg {
  color: #292929;
}

.middle {
  display: flex;
  margin-top: 0;
  height: 100%;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

.products-box {
  display: flex;
  background-color: white;
  width: 62%;
  height: 48vh;
}

.categories {
  display: flex;
  flex-direction: column;
  width: 29vh;
  height: 48vh;
  border-left: 0.1vh solid #e0e0e0;
  border-right: 0.1vh solid #e0e0e0;
  border-bottom: 0.1vh solid #e0e0e0;
}

.category {
  display: flex;
  height: 5vh;
  width: 29vh;
  align-items: center;
}

.category:hover {
  background-color: #f9f9f9;
}

.category-text {
  color: rgba(0, 0, 0, 0.87);
  font-size: 1.5vh;
  margin-left: 2vh;
}

.fa-chevron-right {
  color: rgba(0, 0, 0, 0.54);
  font-size: 1.5vh;
  margin-left: auto;
  margin-right: 1.5vh;
  font-size: 1.2vh;
}

.fa-sort-down {
  color: #212121;
  font-size: 2.5vh;
  margin-top: -1.6vh;
  align-self: flex-start;
  margin-right: auto;
  margin-left: 3vh;
  margin-bottom: 0;
}

.products {
  display: flex;
  width: 100%;
  background-color: #f9f9f9;
}

.product {
  -o-object-fit: cover;
     object-fit: cover;
  width: 32.1vh;
  height: 100%;
  background-color: black;
}

.hovereff {
  transition: opacity 0.3s;
}

.hovereff:hover {
  opacity: 60%;
}

@-webkit-keyframes hoverfade {
  from {
    opacity: 100%;
  }
  to {
    opacity: 60%;
  }
}

@keyframes hoverfade {
  from {
    opacity: 100%;
  }
  to {
    opacity: 60%;
  }
}
.stuff-box {
  margin-top: 6vh;
  display: flex;
  width: 62%;
  flex-direction: column;
}

.stuff-title {
  color: rgba(0, 0, 0, 0.87);
  font-size: 3vh;
  font-weight: bold;
}

.stuff-tagline {
  color: rgba(0, 0, 0, 0.54);
  font-size: 1.6vh;
}

.stuff-item-box {
  display: flex;
  flex-direction: row;
  margin-top: 3vh;
  justify-content: space-between;
}

.stuff-item {
  display: flex;
  width: 20vh;
  height: 40vh;
  flex-direction: column;
}

.stuff-item-photobox {
  display: flex;
  align-self: flex-start;
  justify-content: center;
  align-items: center;
  width: 20vh;
  height: 30vh;
  background-color: white;
  border: 0.1vh #e0e0e0 solid;
}

.stuff-item:hover {
  cursor: pointer;
  opacity: 80%;
}

.stuff-item-img {
  width: 14vh;
  height: 18vh;
  background-color: white;
  -o-object-fit: contain;
     object-fit: contain;
}

.stuff-item-title {
  margin-top: 1vh;
  font-size: 1.5vh;
  font-weight: bold;
}

.stuff-item-offer {
  margin-top: auto;
  margin-bottom: -2vh;
  font-size: 1.2vh;
  color: rgba(0, 0, 0, 0.54);
}

.stuff-item-price {
  margin-top: auto;
  margin-bottom: 1vh;
  font-size: 1.8vh;
  font-weight: bold;
}

footer {
  margin-top: 10vh;
  display: flex;
  background-color: #212121;
  width: 100%;
  height: 10vh;
}

.product-box {
  margin-top: 3vh;
  display: flex;
  width: 62%;
  flex-direction: row;
}

.product-photo {
  border-radius: 0.4vh;
  width: 36vh;
  height: 50vh;
}

.product-title {
  font-size: 3.5vh;
  font-weight: bolder;
  margin-left: 3vh;
  width: 50vh;
}

.product-description {
  font-size: 1.5vh;
  color: rgba(0, 0, 0, 0.87);
  margin-top: 3vh;
  margin-left: 3vh;
  width: 50vh;
}

.product-pricebox {
  border-radius: 0.4vh;
  border: solid 0.1vh #e0e0e0;
  width: 32vh;
  height: 40vh;
  margin-left: auto;
  margin-right: 1vh;
}

.product-pricetext {
  font-size: 1.4vh;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.54);
  margin-top: 1vh;
  margin-left: 1vh;
  margin-bottom: -0.5vh;
}

.product-price {
  font-weight: bolder;
  font-size: 4vh;
  font-weight: bold;
  margin-left: 1vh;
}

.product-btn1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2f82fb;
  border-radius: 0.4vh;
  width: 27vh;
  height: 4.4vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;
  cursor: pointer;
}

.product-btn1:hover {
  background-color: #145bc5;
}

.product-btn2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6202ea;
  border-radius: 0.4vh;
  width: 27vh;
  height: 4.4vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;
  cursor: pointer;
}

.product-btn2:hover {
  background-color: #510db1;
}

.product-btntext {
  color: white;
  font-size: 1.4vh;
  font-weight: bolder;
}

@font-face {
  font-family: "Good Times";
  src: url("../resources/font/goodtimes.ttf");
}
html {
  scroll-behavior: smooth;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
  user-select: none;
}

body {
  background-color: #f9f9f9;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

a {
  margin: 0;
  text-decoration: none;
}

p {
  margin: 0;
}

img {
  -webkit-user-drag: none;
}

.bg-color1 {
  background-color: #f9f9f9;
}

.bg-color2 {
  background-color: white;
}/*# sourceMappingURL=styles.css.map */