// epic variables file
$primary-color: #f05f00;
$secondary-color: #f9f9f9;
$tertiary-color: #0084c1;
$border-color: rgb(224, 224, 224);
$side-nav-text: rgba(255, 255, 255, 0.9);
$side-nav-buttons: #212121;
$side-nav-buttons-hover: #292929;
$text-color1: rgba(0, 0, 0, .87);
$text-color2: rgba(0, 0, 0, .54);
$header-color: black;
$background-color: #f9f9f9;